@page "/"

@using Microsoft.Extensions.Logging;

@using IoTAS.Shared.DevicesStatusStore

@inject ILogger<Index> Logger

<h3>Device Status List</h3>
@if (DeviceStatusses is null || DeviceStatusses.Count() == 0)
{
    <p>Currently there are no know Devices ...</p>
}
else
{
    <ul>
        @foreach (var deviceStatus in DeviceStatusses)
        {
            <li>@deviceStatus.ToString()</li>
        }
    </ul>
}

@code {

    [CascadingParameter(Name = "CascadingDeviceStatusList")]
    public  IEnumerable<DeviceReportingStatus> DeviceStatusses { get; set; }

    protected override void OnInitialized()
    {
        Logger.LogInformation($"{nameof(Index)} initialised ...");
    }

}