@page "/"

@using Microsoft.Extensions.Logging;

@using IoTAS.Shared.DevicesStatusStore

@inject ILogger<Index> Logger

<h3>Device Status</h3>
@if (Store is null || Store.Count == 0)
{
    <p>Currently there are no know Devices ...</p>
}
else
{
    <ul id="StatusStore">
        @foreach (var deviceStatus in Store.GetDeviceStatuses())
        {
            <li>@deviceStatus.ToString()</li>
        }
    </ul>
}

@code {

    [CascadingParameter(Name = "CascadingStore")]
    public  IDeviceStatusStore Store { get; set; }

    protected override void OnInitialized()
    {
        Logger.LogInformation($"{nameof(Index)} initialised ...");
    }

}