@page "/"

@using Microsoft.Extensions.Logging;

@using IoTAS.Shared.DevicesStatusStore

@inject ILogger<Index> Logger

<h3>Device Status List</h3>
@if (Statusses is null || Statusses.Count() == 0)
{
    <p>Currently there are no know Devices ...</p>
}
else
{
    <ul>
        @foreach (var deviceStatus in Statusses)
        {
            <li>@deviceStatus.ToString()</li>
        }
    </ul>
}

@code {

    [CascadingParameter(Name = "CascadingStatusList")]
    public  IEnumerable<DeviceReportingStatus> Statusses { get; set; }

    protected override void OnInitialized()
    {
        Logger.LogInformation($"{nameof(Index)} initialised ...");
    }

}