@page "/"
@using Microsoft.AspNetCore.SignalR.Client

@using IoTAS.Shared.DevicesStatusStore
@using IoTAS.Shared.Hubs

@using Microsoft.Extensions.Logging;
@inject ILoggerFactory LoggerFactory
@inject ILogger<Index> Logger


@inject NavigationManager NavigationManager
@inject HubConnection HubConnection

@implements IAsyncDisposable

<h3>Device Monitor</h3>

<p>
    Link status: @(IsConnected ? $"up - connectionId = {ConnectionId}" : "down")
</p>

<h3>StatusStore</h3>
@if (_store is null || _store.Count == 0)
{
    <p>The store is empty</p>
}
else
{
    <ul id="StatusStore">
        @foreach (var deviceStatus in _store.GetDeviceStatuses())
        {
            <li>@deviceStatus.ToString()</li>
        }
    </ul>
}

<h3>MessageList</h3>
<ul id="messagesList">
    @foreach (var message in _messages)
    {
        <li>@message</li>
    }
</ul>



@code {
    private List<string> _messages = new List<string>();

    private IDeviceStatusStore _store;

    protected override async Task OnInitializedAsync()
    {
        var _storeLogger = LoggerFactory.CreateLogger<VolatileDeviceStatusStore>();
        _store = new VolatileDeviceStatusStore(_storeLogger);


        // Register the Hub callback methods
        HubConnection.On<SrvToMonDeviceHeartbeatDto>(nameof(IMonitorHub.ReceiveDeviceHeartbeatUpdate), (hearbeatDto) =>
        {
            _ = _store.UpdateHeartbeat(hearbeatDto.DeviceId, hearbeatDto.ReceivedAt);
            _messages.Add(hearbeatDto.ToString());
            StateHasChanged();
        });

        HubConnection.On<SrvToMonDeviceStatusDto>(nameof(IMonitorHub.ReceiveDeviceStatusUpdate), (statusDto) =>
        {
            _store.SetDeviceStatus(DeviceReportingStatus.FromStatusDto(statusDto));
            _messages.Add(statusDto.ToString());
            StateHasChanged();
        });

        HubConnection.On<SrvToMonDeviceStatusDto[]>(nameof(IMonitorHub.ReceiveDeviceStatusesSnapshot), (statusListDto) =>
        {
            foreach (var statusDto in statusListDto)
            {
                _store.SetDeviceStatus(DeviceReportingStatus.FromStatusDto(statusDto));
                _messages.Add(statusDto.ToString());
            }
            StateHasChanged();
        });

        await HubConnection.StartAsync();

        if (IsConnected)
        {
            MonToSrvRegistrationDto registrationDto = new(); // currently empty --> default record returned
            await HubConnection.SendAsync(nameof(IMonitorHubServer.RegisterMonitorClient), registrationDto);
            Logger.LogInformation($"Monitor has been registered with the Server, connection = {HubConnection.ConnectionId}");
        }
    }

    private bool IsConnected => HubConnection.State == HubConnectionState.Connected;

    private string ConnectionId => HubConnection.ConnectionId;

    public async ValueTask DisposeAsync()
    {
        if (HubConnection is not null)
        {
            await HubConnection.DisposeAsync();
            Logger.LogInformation("Disposed ...");
        }
    }
}