html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #fff;
    color: #333;
    font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: inherit;
}

.iotas-wrapper {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 80px 1fr 48px;
}

.iotas-page-header {
    background-color: #404060;
    color: #fff;
    padding: 8px 20px 8px 20px;
    vertical-align: middle;
}

.iotas-brand-img {
    height:80px;
    width:100px;
    margin-top:-8px;
    float:left;
}

.iotas-brand {
    display:block;
    float:left;
    font-size: 1.5em;
    line-height: 64px;
}

.iotas-page-body {
    min-height: calc(100vh - (80px + 48px));
    max-height: calc(100vh - (80px + 48px));
    background-color: white;
}

.iotas-page-content {
    height: 100%;
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.iotas-page-footer {
    background-color: #444466;
    color: #fff;
    padding: 10px 20px 10px 20px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
