@inherits LayoutComponentBase
 
<div class=iotas-wrapper>
    <div class="iotas-page-header">
        <MainHeader />
    </div>
    <div class="iotas-page-body">
        <div class="iotas-page-content">
            @Body
        </div>
    </div>
    <div class="iotas-page-footer">
        <MainFooter />
    </div>
</div>