<!--
// Copyright (c) 2021 Hugh Maaskant
// MIT License
-->

<img src="/img/speaker_100_80.png" alt="Brand image of a speaker" class="iotas-brand-img" />

<div class="iotas-brand-txt">IoTAS</div>

<div class="iotas-menu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/license">License</a>
        </li>
    </ul>
</div>


@code {

}
